body {
    font-family: 'Sofia', sans-serif;
    background-color: #e0218a; 
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #search-input {
    width: 600px; /* Set the desired width */
  }

