body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff00a2;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    padding: 20px;
}

.organization-card {
    background-color: #dd00ff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.rating {
    font-size: 2em;
    font-weight: bold;
    margin-right: 30px;
}

.organization-info {
    flex-grow: 1;
}

.review-form {
    background-color: #ff00bb;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}